# Python
__pycache__/
*.py[cod]
*.pyo
.Python
venv/
.venv/
env/
build/
dist/
*.egg-info/

# Env & secrets
.env
.env.local
*.key
*.pem

# Data & logs
logs/*
!logs/.gitkeep
data/*
!data/.gitkeep

# Jupyter
.ipynb_checkpoints/
notebooks/*.ipynb

# IDE / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
